

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
   // background-image: url("1.jpg") ;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
a {
  text-decoration: none;
  color: #FF8C00;
  transition: coror .3s; 

}


h2 {
  font-size: 25px;
  letter-spacing: 5px;
  margin-top: 50px;
  padding: 60px 0 15px 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* -- Navigation Menu -- */
nav {
	  background-color:  #002147;
	    border-bottom: 3px solid #FF8C00;


	  opacity: .95;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  z-index: 1050;
	  webkit-box-shadow: 2px 10px 5px 0px rgba(230,205,230,1);
	    -moz-box-shadow: 2px 10px 5px 0px rgba(230,205,230,1);
	    box-shadow: 2px 5px 5px 0px #333;
}

nav ul {
  float: right;
  margin: 0;
  padding: 20px 0;

}

nav li {
  color: #fff;
  display: inline;
  font-size: 18px;
  font-weight: 600;
  padding-right: 18px;
  text-decoration: none;
  text-transform: uppercase;
   
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: coror .3s; 

}
a:hover {
  transform: scale(1.1);
  color:#FF8C00 ;

     //background: ;
 // transition: background .3s;
}

/* -- Home jumbotron -- */
.jumbotron {
  background: url("pic.jpg") no-repeat;
  background-size: cover;
  height: 750px;
}

.main {
  position: relative;
  text-align: center;
  top: 220px;
}

.main h1 {
  font-size: 70px;
  font-weight: 800;
  margin-top: 0;
  text-transform: uppercase;
  color: #000;
}

.main p {
  font-size: 30px;
}

.main .btn {
  background-color: #1295C9;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  transition: background .3s;
  padding: 15px 40px;
}

.main .btn:hover {
  background: #000;
  transition: background .3s;
}

/* -- About Section -- */
.about .container {
  padding: 60px 0;
}

.about {
  background-color: #fff;
}

.about h2 {
  color: #333;
}

.about p {
  color: #333;
}

.about img {
  border-radius: 50%;
  float: left;
  margin: 40px 40px;
  }
.about img-circle {
    border-radius: 50%;
}
  
.about-text {
  margin: 0;
  overflow: hidden;
  padding: 0 10px;
}

/* -- Contact Info -- */
.contact {
  background-color: ;
  padding-bottom: 20px;
}

.contact .container {
  text-align: center;
}

.contact h2 {
  margin-top: 0;
}

.contact a {
  background-color: #002147;
  color: white;
  display:inline-block;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  width: 100px;
  height: 60px;
  text-align: center;
  border-radius: 150% ;

}

.contact a:hover {
  transform: scale(1.1);
  color: #f90;
}

/* -- Footer -- */
footer {
  background-color: #1295C9;
  padding-top:10px;
}


footer p {
  color: #fff;
  margin: 0;
  padding-bottom: 20px;
}



@media (max-width: 600px) {
  .main h1 {
    font-size: 50px;
  }

  .about img {
    float: none;
  }
}


/*  test style   */

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
   box-sizing: border-box;
}

input[type=submit],input[type=reset] {
    width: 25px%;
    background-color:  #002147;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  transition: all .3s ease-in-out;

}

input[type=file] {
    width: 50%;
    background-color:  #002147;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
}



input[type=submit]:hover {
     background: #000;
  transition: background .3s;
  transform: scale(1.1);
  color: #f90;
}

input[type=reset]:hover {
     background: #000;
  transition: background .3s;
  transform: scale(1.1);
  color: #f90;
}

.log1{
    border-radius: 5px ;
    background-color: #f2f2f2;
    padding:50px 80px 50px 80px ;
    margin:40px 180px 40px 180px;   
    
	}


select {
    width: 25px%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #f1f1f1;
}


table {

    

}

table, td {
    border: 1px solid black;
text-align:center;
border-bottom: 3px solid #FF8C00;
border-collapse: collapse;


}
tr:nth-child(even){background-color: white;}
th{
    height: 50px;

    border: 1px solid black;
    background-color: #002147;
    color: white;
    text-align:center;

}
tr:hover{
background-color:#FF8C00;
}
fieldset{
border:2px solid black;
    border-radius: 8px;

}


